@{
    ViewBag.Title = "TileView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>TileView Features:</h2>
<br/>
<li> Default</li>
<li> Theme - Flat-Azure-Dark</li>
<br/>
<div id = "ControlRegion">
<div class="e-tile-group">
        <div class="e-tile-column">
            <ej-tile id="tile1" image-position="@TileImagePosition.Fill" tile-size="@TileSize.Medium" image-url="../images/TileView/people_1.png" text="People"></ej-tile>
            <div class="e-tile-small-col-2">
                <ej-tile id="tile2" image-position="@TileImagePosition.Center" tile-size="@TileSize.Small" image-url="../images/TileView/alerts.png"></ej-tile>
                <ej-tile id="tile3" image-position="@TileImagePosition.Center" tile-size="@TileSize.Small" image-url="../images/TileView/bing.png"></ej-tile>
                <ej-tile id="tile4" tile-size="@TileSize.Small" image-url="../images/tile/windows/camera.png"></ej-tile>
                <ej-tile id="tile5" image-position="@TileImagePosition.Center" tile-size="@TileSize.Small" image-url="../images/TileView/messages.png"></ej-tile>
            </div>
            <ej-tile id="tile6" image-position="@TileImagePosition.Center" tile-size="@TileSize.Medium" image-url="../images/TileView/games.png" text="Play"></ej-tile>
            <ej-tile id="tile7" tile-size="@TileSize.Medium" image-url="../images/TileView/map.png" text="People"></ej-tile>
            <ej-tile id="tile8" image-position="@TileImagePosition.Fill" tile-size="@TileSize.Wide" image-url="../images/TileView/sports.png" text="Sports"></ej-tile>
        </div>
        <div class="e-tile-column">
            <ej-tile id="tile9" image-position="@TileImagePosition.Fill" tile-size="@TileSize.Medium" image-url="../images/TileView/people_2.png" text="People"></ej-tile>
            <ej-tile id="tile10" image-position="@TileImagePosition.Center" tile-size="@TileSize.Medium" image-url="../images/TileView/pictures.png" text="Photo"></ej-tile>
            <ej-tile id="tile11" image-position="@TileImagePosition.Center" tile-size="@TileSize.Wide" image-url="../images/TileView/weather.png" text="Weather"></ej-tile>
            <ej-tile id="tile12" image-position="@TileImagePosition.Center" tile-size="@TileSize.Medium" image-url="../images/TileView/music.png" text="Music"></ej-tile>
            <ej-tile id="tile13" image-position="@TileImagePosition.Center" tile-size="@TileSize.Medium" image-url="../images/TileView/favs.png" text="Favorites"></ej-tile>
        </div>
    </div>
    <style>
        .cols-sample-area {
            text-align: center;
        }
        .e-tile-group {
            float: none;
            padding: 0;
            display: inline-block;
        }
    </style>
</div>
