@{
    ViewBag.Title = "Button";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Button Features:</h2>
<br/>
<li> Default Button</li>
<li> Toggle Button</li>
<li> Radio Button</li>
<li> Check Boxes</li>
<li> Split Button</li>
<li> Group Button</li>
<li> Theme - Flat-Azure-Dark</li>
<br/>
<div id = "ControlRegion">
              <h2>Button</h2>
            <table>
                <tr>
                    <td>
                        Normal
                    </td>
                    <td class="btnsht">
                        <ej-button id="button11" text="Login" size="@ButtonSize.Normal" show-rounded-corner="true" content-type="@ContentType.ImageOnly" prefix-icon="e-icon e-handup" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Mini
                    </td>
                    <td class="btnsht">
                        <ej-button id="button21" text="Login" size="@ButtonSize.Mini" show-rounded-corner="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Small
                    </td>
                    <td class="btnsht">
                        <ej-button id="button31" text="Login" size="@ButtonSize.Small" show-rounded-corner="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Medium
                    </td>
                    <td class="btnsht">
                        <ej-button id="button41" text="Login" show-rounded-corner="true" size="@ButtonSize.Medium" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Large
                    </td>
                    <td class="btnsht">
                        <ej-button id="button51" text="Login" show-rounded-corner="true" size="@ButtonSize.Large" content-type="@ContentType.TextAndImage" prefix-icon="e-icon e-handup" />
                    </td>
                </tr>
            </table>
            <br>
              <h2>Toggle Button</h2>
            <table>
                <tr>
                    <td>
                        Normal
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button id="check11" size="@ButtonSize.Normal" show-rounded-corner="true" content-type="@ContentType.ImageOnly" default-prefix-icon="e-icon e-mediaplay" active-prefix-icon="e-icon e-medianext" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Mini
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button id="check21" size="@ButtonSize.Mini" show-rounded-corner="true" default-text="Play" active-text="Stop" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Small
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button id="check31" size="@ButtonSize.Small" show-rounded-corner="true" default-text="Play" active-text="Stop" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Medium
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button id="check41" size="@ButtonSize.Medium" show-rounded-corner="true" default-text="Play" active-text="Stop" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Large
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button id="check51" size="@ButtonSize.Large" show-rounded-corner="true" content-type="@ContentType.TextAndImage" default-text="Play" active-text="Stop" default-prefix-icon="e-icon e-mediaplay" active-prefix-icon="e-icon e-medianext" />
                    </td>
                </tr>
            </table>
            <br />
              <h2>Radio Button</h2>
            <table>
                <tr>
                    <td class="chkrad">
                        <ej-radio-button id="Radio1" name="small" size="@RadioButtonSize.Small" checked="true" enabled="true" text="Fresher" value="Fresher" />
                    </td>
                    <td class="chkrad" colspan="2">
                        <ej-radio-button id="Radio3" name="small" size="@RadioButtonSize.Small" checked="false" enabled="true" text="Experienced" value="Experienced" />
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td class="chkrad">
                        <ej-radio-button id="Radio2" name="medium" size="@RadioButtonSize.Medium" checked="true" enabled="true" text="1+ years" value="1+ years" />
                    </td>
                    <td class="chkrad">
                        <ej-radio-button id="Radio4" name="medium" size="@RadioButtonSize.Medium" checked="false" enabled="true" text="2.5+years" value="2.5+years" />
                    </td>
                    <td>
                        <ej-radio-button id="Radio5" name="medium" size="@RadioButtonSize.Medium" checked="false" enabled="true" text="5+years" value="5+years" />
                    </td>
                </tr>
            </table>
            <br />
              <h2>Check Boxes</h2>
            <table>
                <tr>
                    <td class="chkrad">
                        <ej-check-box id="check1" css-class="nodetext" text="Music" value="Music" />
                    </td>
                    <td class="chkrad">
                        <ej-check-box id="Checkbox3" css-class="nodetext" text="Sports" value="Sports" />
                    </td>
                    <td class="chkrad">
                        <ej-check-box id="Checkbox4" css-class="nodetext" text="Bike Riding" value="Bike Riding" />
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td class="chkrad">
                        <ej-check-box id="Checkbox1" css-class="nodetext" size="@Size.Medium" text="Google" value="Google" />
                    </td>
                    <td class="chkrad">
                        <ej-check-box id="Checkbox5" css-class="nodetext" size="@Size.Medium" text="Yahoo" value="Yahoo" />
                    </td>
                    <td class="chkrad">
                        <ej-check-box id="Checkbox6" css-class="nodetext" size="@Size.Medium" text="Bing" value="Bing" />
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td class="chkrad">
                        <ej-check-box id="Checkbox2" css-class="nodetext" size="@Size.Medium" text="Facebook" value="Facebook" enable-tri-state="true" />
                    </td>
                    <td class="chkrad">
                        <ej-check-box id="Checkbox7" css-class="nodetext" size="@Size.Medium" text="GPlus" value="GPlus" enable-tri-state="true" />
                    </td>
                    <td class="chkrad">
                        <ej-check-box id="Checkbox8" css-class="nodetext" size="@Size.Medium" text="Twitter" value="Twitter" enable-tri-state="true" check-state="@CheckState.Indeterminate" />
                    </td>
                </tr>
            </table>
            <br />
              <h2>Split Button</h2>
            <table>
                <tr>
                    <td>
                        Normal
                    </td>
                    <td class="btnsht">
                        <div class="spltspan">
                            <ej-split-button id="spltbutton11" text="Login" show-rounded-corner="true" target-id="Ul11" size="@ButtonSize.Normal" content-type="@ContentType.ImageOnly" prefix-icon="e-icon e-uiLight e-login" />
                            <ul id="Ul11">
                                <li><span>User</span></li>
                                <li><span>Guest</span></li>
                                <li><span>Admin</span></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mini
                    </td>
                    <td>
                        <ej-split-button id="spltbutton21" text="Login" show-rounded-corner="true" size="@ButtonSize.Mini" target-id="Ul21" />
                        <ul id="Ul21">
                            <li><span>User</span></li>
                            <li><span>Guest</span></li>
                            <li><span>Admin</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        Small
                    </td>
                    <td class="btnsht">
                        <ej-split-button id="spltbutton31" text="Login" show-rounded-corner="true" size="@ButtonSize.Small" target-id="Ul31" />
                        <ul id="Ul31">
                            <li><span>User</span></li>
                            <li><span>Guest</span></li>
                            <li><span>Admin</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        Medium
                    </td>
                    <td class="btnsht">
                        <ej-split-button id="spltbutton41" text="Login" show-rounded-corner="true" size="@ButtonSize.Medium" target-id="Ul41" />
                        <ul id="Ul41">
                            <li><span>User</span></li>
                            <li><span>Guest</span></li>
                            <li><span>Admin</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        Large
                    </td>
                    <td class="btnsht">
                        <ej-split-button id="spltbutton51" text="Login" show-rounded-corner="true" size="@ButtonSize.Large" content-type="@ContentType.TextAndImage" prefix-icon="e-icon e-uiLight e-login" target-id="Ul51" />
                        <ul id="Ul51">
                            <li><span>User</span></li>
                            <li><span>Guest</span></li>
                            <li><span>Admin</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                       ButtonMode
                    </td>
                    <td>
                        <ej-drop-down-list id="btnmode" target-id="modeTarget" width="120px" selected-item-index="0" change="onChange"></ej-drop-down-list>
                    </td>
                </tr>
            </table>  
            <br />
			<div id="modeTarget">
        <ul>
            <li value="split">Split</li>
            <li value="dropdown">Dropdown</li>
        </ul>
    </div>
    <script type="text/javascript">
        function onChange(args) {
            $(".e-splitbutton").ejSplitButton({ "buttonMode": args.value });
        }
    </script>
              <h2>Group Button</h2>
            <div class="element">
                <ej-group-button id="GroupButton" width="30%" height="40px" group-button-mode="@GroupButtonMode.RadioButton" show-rounded-corner="true">
                    <e-group-button-items>
                        <e-group-button-item text="Day"></e-group-button-item>
                        <e-group-button-item text="Week"></e-group-button-item>
                        <e-group-button-item text="Month"></e-group-button-item>
                    </e-group-button-items>
                </ej-group-button>
            </div>
			<br />
    <style>
        .frame {
            width: 30%;
        }
        td {
            padding: 10px;
        }
        .spltspan{
            width:50px;
        }
    </style>
</div>
